<!-- Basic html  -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Example ejs</title>
</head>
<body>
    <!-- Our logic, built out of the logic tags tags, it important because it is the endpoint where you write your logic, and the value is where you keep your custom displayed values -->
    <!-- Note: the logic tag should be looped around both of the lines of the conditions, and each differnet lines should have a start and an end tag-->
    <% if (data.bool === true) { %>
        <%= data.true %> 
    <% } else { %>
        <%= data.false %> 
    <%}%>
    
     
     
</body>
</html>
